<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q'Me | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}">
    <script defer src="{{ url_for('static', filename='scripts/auth/passwordView.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/auth/login.js') }}"></script>
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/q-me-logo.png') }}" alt="Q-Me Logo" class="logo">
    </div>
    <div class="login-container">
        <h1 class="title">Welcome to Q'Me</h1>
        <div id="form-message" class="form-message" style="display: none;"></div>
        <form method="POST" action="/api/login">
            <input type="text" name="username" placeholder="Username" required>
            
            <div class="password-wrapper">
                <input type="password" name="password" id="password" placeholder="Password" required>
                <span id="togglePassword" class="hide-icon">🙉</span>
            </div>

            <button type="submit" class="login-button">Login</button>

            <div class="register-link">
                Don't have an account? <a href="/register">Register here</a>
            </div>
        </form>
    </div>
</body>
</html>
